@use 'base/variables' as v;
@use 'base/mixins' as m;

.confirmar {
    margin-top: 5rem;
    .uptask { 
        @include m.textoDegradado(v.$morado, v.$naranja)
    }
    .acciones {
        justify-content: center;
        a {
            color: v.$morado;
            @include m.boton(v.$morado, v.$blanco);
        }
    }
}