@use 'base/variables' as v;
@use 'base/mixins' as m;

.noproyectos {
    p {
        text-align: center;
    }
    @include m.tablet {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    }
}
.btn-crear {
    @include m.boton(v.$indigo, v.$blanco);
    display: inline-block;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    @include m.tablet {
        margin: 0 2rem;
    }

}
.listado-proyectos {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    @include m.grid(1, 2rem);
    @include m.tablet {
        @include m.grid(2, 2rem);
    }
    @include m.desktop {
        @include m.grid(3, 2rem);
    }
    a {
        color: v.$blanco;
        &:hover {
            color: darken(v.$blanco, 5%);
            transition-property: color;
            transition-duration: .3s;
        }
    }
    .proyecto {
        background-color: lighten(v.$indigo, 5%);
        min-height: 12rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        line-height: 2;
        transition-property: background-color;
        transition-duration: .3s;
        border-radius: .5rem;
        &:hover {
            background-color: darken(v.$indigo, 5%);
        }
    }
}










